:root {
    --dark-grey: #2b3d4f;
    --light-grey: #3a556e;
    --mint-green: #1abd9c;
}

/* Generics */

section h2 {
    font-size: 50px;
}

.side-line {
    width: 6rem;
    border: 2px solid;
}

/* Body */

header,
#copyright {
    background-color: var(--dark-grey);
}

#jumbotron img {
    width: 250px;
}

#jumbotron,
#about,
#contact button {
    background-color: var(--mint-green);
}

header .container {
    height: 80px;
}

#address {
    background-color: var(--light-grey);
}

#contact .form-control {
    border-color: transparent;
    border-bottom: 1px solid grey;
    border-radius: 0;
    padding-left: 0;
}

#contact ::placeholder {
    color: var(--dark-grey);
    font-weight: 500;
}

#address span {
    color: var(--mint-green);
}